{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="{{ trackDetails.trackData.album.images.0.url }}" class="img-fluid">
            </div>

            <div class="col-12 col-md-6 track-detail">
                <a class="track-detail--artist-link" href="{{ path('app_artist_detail', { artistId: trackDetails.artistData.id }) }}"><h2>{{ trackDetails.artistData.name }}</h2></a>
                <h1 class="track-detail--track-name">{{ trackDetails.trackData.name }}</h1>
                <p>Popularity: {{ trackDetails.trackData.popularity }}</p>
                {% if trackDetails.trackData.explicit == true %}
                    <span class="badge badge-warning">Explicit</span>
                {% endif %}

                {% set duration_seconds = trackDetails.trackData.duration_ms / 1000 %}
                <p>Duration: {{ duration_seconds|round|date('i:s')  }} Min.</p>
            </div>

            <div class="col-12 col-md-2">
                <h3>{{ trackDetails.trackData.album.name }}</h3>
            </div>
        </div>
    </div>

{% endblock %}
