<div class="container-fluid header--container">
    <nav class="navbar navbar-expand-lg navbar-dark text-center text-lg-left">
        <button class="navbar-toggler m-auto ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-lg-4" id="navbarText">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item{% if app.request.attributes.get('_route') == 'app_main' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('app_main') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Playlists</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Discover</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Fancy Player</a>
                </li>

                <form class="form-inline my-2 my-lg-0" method="get" action="{{ path('app_search') }}">
                    <input class="text-white form-control mr-sm-2 bg-dark" type="search" placeholder="Search" name="searchQuery">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>

            {% if userProvider.loggedIn == true %}
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item{% if app.request.attributes.get('_route') == 'app_profile' %} active{% endif %}">
                        <a class="nav-link dropdown-toggle" id="profile-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ userProvider.getUser.name }}
                        </a>
                        <div class="dropdown-menu has-soft-shadow" aria-labelledby="profile-menu-link">
                            <a class="dropdown-item" href="{{ path('app_profile', { userId: userProvider.getUser.id }) }}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    </li>
                </ul>
            {% endif %}

            {% if userProvider.loggedIn == false %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Sign Up</a>
                    </li>
                </ul>
            {% endif %}
        </div>

        {% set playback = userProvider.currentPlayback %}

        {% if playback is not null %}
            {% if playback.currently_playing_type == 'track' %}
                {% include '_components/player/track-player.html.twig' with { playback: playback } %}
            {% endif %}

            {# TODO: Add functionality for podcast playback. #}
{#            {% if playback.currently_playing_type == 'episode' %}#}
{#                {% include '_components/player/podcast-player.html.twig' with { playback: playback } %}#}
{#            {% endif %}#}
        {% endif %}
    </nav>
</div>
